#div_todo_app *{
  padding: 0;
  margin: 0;
}

/* #5b7065, black */
/*body {*/
#div_todo_app {
  /*  background: rgba(48, 64, 64, 1.0); */
  /*  background: -webkit-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);*/
  /*  background: -moz-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);*/
  /*  background: radial-gradient(ellipse at center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);*/
  /*  font-family: 'Shadows Into Light', cursive;*/
  /*  min-height: 100vh;*/
}

#div_todo_app button {
  height: fit-content;
  cursor: pointer;
/*  color: #04202c;*/
/*  background-color: #c9d1c8;*/
}

#div_todo_app .todo_app {
/*  width: 600px;*/
  width: 100%;
  margin: auto;
  padding-top: 50px;
  color: white;
}

#div_todo_app .input-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
/*  color: white;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 0px 10px 0px;
}

#div_todo_app .to-do-input input {
/*  width: 250px;*/
/*  width: 100%;*/
/*  font-family: inherit;*/
  border: none;
  background-color: lightgrey;
  width: calc(100% - 40px - 36px - 5px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  outline: none;
}

#div_todo_app .to-do-input button {
/*  color: #5b7065;*/
/*  font-family: inherit;*/
  border: none;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#div_todo_app .to-do-list {
  display: flex;
  flex-direction: column;
/*  gap: 15px;*/
}

#div_todo_app .to-do-list i {
/*  color: #c9d1c8;*/
  cursor: pointer;
}

#div_todo_app .to-do-list .fa-pen-to-square {
/*  color: #5b7065;*/
}

#div_todo_app .to-do-list button {
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
/*  font-family: inherit;*/
  border: none;
}

#div_todo_app .item {
  /*  display: flex;*/
  flex-direction: column;
  /*  gap: 10px;*/
  /*  background-color: rgba(0, 0, 0, 0.3);*/
  border-radius: 10px;
  /*  padding: 8px;*/
  padding: 0;
  /*  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);*/
}

#div_todo_app .input-controller {
  display: flex;
  gap: 10px;
}

/*#div_todo_app .input-controller textarea {*/
#div_todo_app .input-controller input {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  line-height: 1.4;
/*  color: white;*/
/*  border-radius: 10px;*/
/*  background-color: transparent;*/
/*  font-size: 1.2rem;*/
  font-size: 16px;
/*  font-family: inherit;*/
  transition: all 0.30s ease-in-out;
  cursor: pointer;
}

/*#div_todo_app textarea:focus {*/
#div_todo_app input:focus {
  box-shadow: 0 0 5px white;
}

#div_todo_app .edit-controller {
  display: flex;
  gap: 5px;
}

#div_todo_app .update-controller {
  display: none;
}

@media(max-width: 768px) {
  #div_todo_app .todo_app {
    /*    width: 95%;*/
    /*    width: 100%;*/
    text-align: center;
  }

  #div_todo_app .input-header {
    flex-direction: column;
    padding-bottom: 20px;
  }

  #div_todo_app .to-do-input {
    display: flex;
  }

  #div_todo_app .to-do-input input {
    /*    width: 300px;*/
    /*    width: 100%;*/
  }

}
