/vendor/
node_modules/
npm-debug.log
yarn-error.log


storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache




.env.backup
docker-compose.override.yml
/.idea
/.vscode



*_backup_*.php
*_backup_*.js
*_backup_*.css
*_backup_*.zip
*_backup_*.json
*_backup_*.png
*_backup_*.svg
*_backup_*.txt
*_backup_*.lock
*_backup_*.ico
*_backup_*

*.bat


zhongwen/*

n.sublime-workspace
zhongpwa.sublime-workspace
zhongpwa.sublime-project
composer.lock
package-lock.json



/zhongwen
