
# # Remove www from any URLs that have them:
# RewriteEngine on
# RewriteCond %{HTTP_HOST} ^www\.
# RewriteRule ^(.*)$ https://zhongpwa.com/$1 [R=301,L]



RewriteEngine On

# Check that you're on port 443 and the hostname starts with www
RewriteCond %{SERVER_PORT} ^443
RewriteCond %{HTTP_HOST} ^www\.

# Redirect to domain without the www
RewriteRule (.*) https://zhongpwa.com$1 [L,R,QSA]

